body {
  position: relative;
}

h1 {
  margin: 0;
}

nav {
  margin-bottom: 1rem;
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

#main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 2rem;
}

.book-container {
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.img-container {
  min-height: 300px;
  display: flex;
  align-items: center;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}


header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: white;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}


.btn {
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
}

.nav-btn {
  background-color: #2196F3;
  color: white;
  font-size: 1rem;
  margin-right: 4px;
}

.nav-btn:hover {
  background-color: #0072cf;
}


#detail-root {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.detail-book-info{
  margin-left: 2rem;
}

.img-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-detail-container img {
  object-fit: contain;
}

.list-name {
  text-transform: capitalize;
  font-weight: bolder;
  font-size: larger;
}

#detail-root {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
  padding: 2px;
}

#name-and-form {
  display: flex;
  align-items: center;
  justify-content:space-around;
}